{{> header}}
<h1>Server</h1>

<h3>Maximum profile</h3>
<p>Measured by resource specific benchmark run when adding a new server to cluster</p>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Cpu</td>
      <td>Disk</td>
      <td>Network</td>
      <td>Memory</td>
    </tr>
  </thead>
  <tbody>
    {{#each servers}}
    <tr>
      <td><b>{{id}}</b></td>
      <td>{{current.cpu}}</td>
      <td>{{current.disk}}</td>
      <td>{{current.network}}</td>
      <td>{{current.memory}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h3>Add new server</h3>
<form action="" method="POST" id="serverForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    <small class="form-text text-muted">Will be used in graph as id</small>
  </div>
  <div class="form-group">
    <label for="sudo">Sudo password</label>
    <input type="text" class="form-control" name="sudo" placeholder="Sudo password">
  </div>
  <div class="form-check">
    <label for="host">Host address</label>
    <input type="text" class="form-control" id="host" name="host" placeholder="Host">
    <small class="form-text text-muted">Key must be stored in `ssh-agent`</small>
  </div>
  <label for="simulation">Simulation</label>  <input type="checkbox" name="simulation" id="simulation">
  <div id="simulatedProperies" style="display: none;">
    <div class="form-group">
      <label for="cpu">cpu</label>
      <input type="text" class="form-control" name="cpu" placeholder="Cpu">
    </div>
    <div class="form-group">
      <label for="disk">disk</label>
      <input type="text" class="form-control" name="disk" placeholder="Disk">
    </div>
    <div class="form-group">
      <label for="memory">memory</label>
      <input type="text" class="form-control" name="memory" placeholder="Memory">
    </div>
    <div class="form-group">
      <label for="network">network</label>
      <input type="text" class="form-control" name="network" placeholder="Network">
    </div>
  </div>
  <br>
  <input type="submit" id="submit" class="btn btn-primary" value="Submit">
</form>
<script>
  $(document).ready(function () {
    $('#simulation').change(function () {
      $('#simulatedProperies').toggle()
    });
    function ConvertFormToJSON(form) {
      var array = jQuery(form).serializeArray();
      var json = {};
      jQuery.each(array, function () {
        json[this.name] = this.value || '';
      });
      return json;
    }
    // click on button submit
    $("#submit").on('click', function (e) {
      e.preventDefault();
      // send ajax
      let data = ConvertFormToJSON($("#serverForm"));
      console.log(data);
      let xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/schedule/server", false);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhttp.send(JSON.stringify(data));
      location.reload();
    });
  });
</script>

{{> footer}}